html {
  margin: 0;
  padding: 0;
  color: #fff; }

#ng-view {
  width: 100%;
  height: 100%; }

.row {
  margin: 0px !important; }

.col-md-2 {
  padding: 0 !important; }

.menu {
  background: #333;
  height: 100vh;
  color: #D4D5D6; }
  .menu .logo {
    background-image: url(../img/logo_small.png);
    background-size: contain;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center; }
  .menu .main-menu {
    position: relative;
    padding: 4px 0; }
  .menu .main-menu::before {
    content: "";
    height: 1px;
    bottom: 0;
    left: 16px;
    width: calc(100% - 32px);
    background: #555;
    position: absolute; }

.menu-style {
  padding: 16px 16px 16px 12px;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer; }

.active {
  background: #53585C;
  border-left: 2px solid red; }

.tasks {
  background: #fff;
  height: 100vmax; }

.menu-style:hover {
  color: #fff; }

.active {
  background: #53585C;
  border-left: 2px solid red; }

.modal {
  display: none;
  display: flex;
  width: 100%;
  flex-flow: column;
  position: fixed;
  padding: 15px 0 15px 15px;
  top: 0;
  right: -100%;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2001;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0px);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000; }
