.modal {
  display: none;
  display: flex;
  width: 100%;
  flex-flow: column;
  position: fixed;
  padding: 15px 0 15px 15px;
  top: 0;
  right: -100%;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2001;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0px);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
}
