<div class="row">
     <div class="col-md-2 menu">
         <div class="logo"></div>
         <div class="main-menu">
           <div class="menu-style active">Задачі</div>
           <div class="menu-style">Замовлення</div>
           <div class="menu-style">Магазин</div>
           <div class="menu-style">Платежі</div>
           <div class="menu-style">Склад</div>
           <div class="menu-style">Клієнти</div>
         </div>
         <div class="second-menu">

           <div class="menu-style">Показники</div>
           <div class="menu-style">Звіти</div>
           <div class="menu-style">Дзвінки</div>
         </div>
         <div class="settings-menu">

          <a href="#!/login" class="btn btn-primary menu-style">Logout</a>
         </div>
       </div>
<div class="col-md-10 ">
<h1>Hi {{vm.user.firstName}}!</h1>
<!-- <div class="settings" ng-if="vm.user.username == 'admin'">
  <h3>All registered users:</h3>
  <ul>
    <li ng-repeat="user in vm.allUsers">
      {{user.username}} ({{user.firstName}} {{user.lastName}})
      - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
  </ul>
</div> -->
{{storage.all_orders}}

<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Статус</th>
                <th>Створено</th>
                <th>Тип виробу</th>
                <th>Бренд</th>
                <th>Модель</th>
                <th>Несправність</th>
                  <th>Терміново</th>
                <th>Клієнт</th>
                <th>Коментар</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in storage.all_orders track by $index">
                <td >1</td>
                <td>На діагностиці</td>
                <td>storage.all_orders.created</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                <td>2011/01/25</td>
                  <td>System Architect</td>
                <td>$112,000</td>
                <td>$112,000</td>
            </tr>
        </tbody>

    </table>

<a ng-click="new_order=!new_order" class="btn btn-primary">Замовлення</a>

<p>&nbsp;</p>


<div class="modal" ng-hide="!new_order">
  <h1>Клієнт</h1>
  <div class="input-group">
  <input type="text" ng-model="all_orders.client_name"  class="form-control" placeholder="Ім'я клієнта">
  <input type="number" ng-model="all_orders.act" class="form-control" placeholder="Номер договору">
  <input type="text" class="form-control" ng-model="all_orders.phone" placeholder="Телефон">
  <h2>Виріб і несправності</h2>
  <input type="text" class="form-control" ng-model="all_orders.type" placeholder="Тип виробу">
  <input type="text" class="form-control" ng-model="all_orders.imei" placeholder="Серійний номер / IMEI">
  <input type="text" class="form-control" ng-model="all_orders.brend" placeholder="Бренд">
  <input type="text" class="form-control" ng-model="all_orders.model" placeholder="Модель">
  <textarea name="name" rows="8" class="form-control" ng-model="all_orders.komplect" placeholder="Комплектація" cols="80"></textarea>
  <input type="text" class="form-control" ng-model="all_orders.stan" placeholder="Зовнішній вигляд">
  <input type="text" class="form-control" ng-model="all_orders.error" placeholder="Несправність">
<h2>Додаткова інформація</h2>

<textarea name="name" rows="8" class="form-control" ng-model="all_orders.comment" placeholder="Нотатки приймальника" cols="80"></textarea>
<input type="number" class="form-control" ng-model="all_orders.cost" placeholder="Орієнтовна ціна">
<input type="checkbox"  id="terminivo" ng-model="all_orders.terminivo"><label for="terminivo">Терміново</label>
<input type="number" class="form-control" ng-model="all_orders.prepay" placeholder="Предоплата">
</div>
<a ng-click="new_order=!new_order; addItem()" class="btn btn-primary">Створити</a>
  <a ng-click="new_order=!new_order" class="btn btn-primary">Закрити</a>
</div>
</div>
       </div>
