<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="row">
      <div class="col-md-2 menu">
          <div class="logo"></div>
          <div class="main-menu">
            <div class="menu-style active">Задачі</div>
            <div class="menu-style">Замовлення</div>
            <div class="  menu-style">Магазин</div>
            <div class="menu-style">Платежі</div>
            <div class="menu-style">Склад</div>
            <div class="menu-style">Клієнти</div>

          </div>
          <div class="second-menu">

            <div class="menu-style">Показники</div>
            <div class="menu-style">Звіти</div>
            <div class="menu-style">Дзвінки</div>
          </div>
          <div class="settings-menu">

            <div class="menu-style">hfhgf</div>
          </div>
        </div>






    <div class="col-md-10 tasks">
<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>
</div>
</div>
</body>
</html>
